body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: darkslategray;
}

a:hover {
    color: brown;
}

a:focus {
    color: chocolate;
}

.main {
    margin: 2em 2em;
    display: flex;
    flex-direction: column;
    /* gap: .5em; */
}

.section {
    display: flex;
    gap: .5em;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;
}

section::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}